{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Player Name</th>
        <th scope="col">Team</th>
        <th scope="col">Position</th>
        <th scope="col">Height (in)</th>
        <th scope="col">Weight (lbs)</th>
        <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    {% for player in players %}
    <tr>
        <td><a href="view/{{player.id}}">{{ player.fldName }}</a></td>
        <td>{{ player.Name }}</td>
        <td>{{ player.Team }}</td>
        <td>{{ Player.position}}</td>
        <td>{{ Player.Height_in }}</td>
        <td>{{ Player.Weight_lbs }}</td>
        <td>{{ Player.Age }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}