{% extends "layout.html" %}
{% block content %}
<form action="/players/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="Name">Player Name</label>
            <input id="Name" type="text" class="form-control" placeholder="Player Name" name="Name">
        </div>
        <div class="col">
            <label for="Team">Player Team</label>
            <input id="Team" type="text" class="form-control" placeholder="Player Team"
                   name="Team">
        </div>
        <div class="col">
            <label for="Position">Player Position</label>
            <input id="Position" type="text" class="form-control" placeholder="Player Position" name="Position">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Height_in">Player Height</label>
            <input id="Height_in" type="text" class="form-control" placeholder="Player Height" name="Height_in">
        </div>
        <div class="col">
            <label for="Weight_lbs">Player Weight</label>
            <input id="Weight_lbs" type="text" class="form-control" placeholder="Player Weight" name="Weight_lbs">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="Age">Player Age</label>
            <input id="Age" type="text" class="form-control" placeholder="Player Age"
                   name="Age">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}

